/* don't ask what's going on here cause I have no idea */
/* not me splicing random css I found online with other stuff */
pre,
code {
  font-family: monospace;
}


h1 {
	color: whitesmoke
}

h1:hover,
h1:focus,
h1:active {
  background: linear-gradient( #ff2400, #e81d1d, #fdc200, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #abb92e, #CD5C5C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	background-size: 1800% 1800%;

	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@keyframes rainbow { 
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}

pre {
  padding: .10rem;
  line-height: 1.25;
  overflow-x: scroll;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a,
a:visited {
  color: #dd00f3;
}

a:hover,
a:focus,
a:active {
  background: linear-gradient( #ff2400, #e81d1d, #fdc200, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #abb92e, #CD5C5C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	background-size: 1800% 1800%;

	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;
}

.retro-no-decoration {
  text-decoration: none;
}

html {
  font-size: 12vw;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15vw;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16vw;
  }
}

body {
  line-height: 1.85;
}

p,
.retro-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.retro-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.retro-h2 {
  font-size: 2.827rem;

  color: white;
  font-family: monospace;
  line-height: 1.45;
  



}
h2:hover,
h2:focus,
h2:active {
  background: linear-gradient( #ff2400, #e81d1d, #fdc200, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #abb92e, #CD5C5C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	background-size: 1800% 1800%;

	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;
}

h3,
.retro-h3 {
  font-size: 1.999rem;
}

h4,
.retro-h4 {
  font-size: 1.414rem;
}

h5,
.retro-h5 {
  font-size: 1.121rem;
}

h6,
.retro-h6 {
  font-size: .88rem;
}

small,
.retro-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html,
body {
  background-color: black;
  min-height: 100%;
}

html {
  font-size: 18px;
}

body {
  color: white;
  font-family: 'Inconsolata', monospace;
  line-height: 1.45;
  margin: 6rem auto 1rem;
  max-width: 48rem;
  padding: .25rem;
}

@media screen and (max-width: 750px) {
  body {
    color: white;
    font-family: monospace;
    font-weight: 200;
    line-height: 1.45;
    margin: auto auto auto;
    max-width: 48rem;
    padding: .25rem;
  }
}

pre {
  background-color: lightgray;
}

blockquote {
  border-left: 3px solid #01ff70;
  padding-left: 1rem;
}
